* {
  margin: 0px;
  padding: 0px;
}
.contenedor {
  margin: auto;
  width: 1300px;
}

.principal {
  background-image: url(../images/forestal.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 791px;
}

.secundaria {
  background-image: url(../images/naranja.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 791px;
}

.tercera {
  background-image: url(../images/azul.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  height: 791px;
}
body {
  font-family: 'Dosis', sans-serif;
}
        /*   ========================== ORDENANDO EL NOMBRE, LOGOS Y EL MENU ====================================*/

.menu ul li {
  display: inline-block;
  margin-left: 40px;
  font-size: 27px;
}
.menu li:before {
  content: '▿';
  color: #CF320E;
}

.menu a {
  color: #CF320E;
  text-decoration: none;
}

.portada {
  padding-top: 25px;
  margin-right: 220px;
}
.nombreyfrontend, .fotologo {
  display: inline-block;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.nombre {
  height: 600px;
  position: relative;
}

.nombre figure img {
  position: absolute;
  bottom: 270px;
  left: 570px;
}

.nombre .nombreyfrontend {
  position: absolute;
  bottom: 235px;
  left: 80px;
}
.nombre div h1 {
  font-size: 47px;
  border-bottom: 1px solid #9B1D01;
  padding-bottom: 26px;
  color: #A4361D;
  font-family: 'Ubuntu', sans-serif;
}
.nombre div h1, .nombre div h2 {
  margin: 25px;
}
.nombre div h2 {
  font-size: 43px;
  padding-left: 33px;
  color: #D96349;
}

/* ========================================== ORDENANDO LA SEGUNDA PAGE ======================================================*/

.aboutme {
  height: 300px;
  width: 900px;
  position: relative;
  padding-top: 20px;
  border-bottom: 1px solid #9B1D01; 
}
.skill {
  height: 300px;
}
.aboutme div {
  display: inline-block;
}
.yo img {
  position: absolute;
  left: 75px;
  top: 90px;
  border-radius: 50%;
}
.aboutme .me {
  position: absolute;
  left: 350px;
  top: 96px;
}
.me h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 43px;
  color: #A4361D;
  padding-left: 15px;
}
.me p {
  font-family: 'Dosis', sans-serif;
  color: #D96349;
  font-size: 25px;
}
















