* {
  margin: 0px;
  padding: 0px;
}
.contenedor {
  margin: auto;
  width: 1300px;
}
.transition {
  transition: .3s;
}
.transitionfront {
  transition: .7s;
}
.principal {
  background-image: url(../images/forestal.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 791px;
}

.secundaria {
  background-image: url(../images/naranja.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 791px;
}

.tercera {
  background-image: url(../images/azul.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  height: 791px;
}
body {
  font-family: 'Dosis', sans-serif;
}
        /*   ========================== ORDENANDO EL NOMBRE, LOGOS Y EL MENU ====================================*/

.menu ul li {
  display: inline-block;
  margin-left: 40px;
  font-size: 27px;
}
.menu li:before {
  content: '▿';
  color: #CF320E;
}
 .menu li:hover {
  transform: scale(1.1);
}
.principal:hover #frontend {
  transform: translateX(0);
}
#frontend {
  transform: translateX(-623px);
}
#yo:hover img {
  transform: scale(1.1);
}
#laptop:hover img {
  transform: scale(1.1);
}
.menu a {
  color: #CF320E;
  text-decoration: none;
}

.portada {
  padding-top: 25px;
  margin-right: 220px;
}
.nombreyfrontend, .fotologo {
  display: inline-block;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.nombre {
  height: 600px;
  position: relative;
}

.nombre figure img {
  position: absolute;
  bottom: 270px;
  left: 570px;
}

.nombre .nombreyfrontend {
  position: absolute;
  bottom: 235px;
  left: 80px;
}
.nombre div h1 {
  font-size: 47px;
  border-bottom: 1px solid #9B1D01;
  padding-bottom: 26px;
  color: #A4361D;
  font-family: 'Ubuntu', sans-serif;
}
.nombre div h1, .nombre div h2 {
  margin: 25px;
}
.nombre div h2 {
  font-size: 43px;
  padding-left: 33px;
  color: #D96349;
}

/* ========================================== ORDENANDO LA SEGUNDA PAGE ======================================================*/

                                                       /*comienzo aboutme*/
.aboutme {
  height: 300px;
  width: 900px;
  position: relative;
  padding-top: 20px;
  border-bottom: 1px solid #9B1D01; 
}
.skill {
  height: 300px;
}
.aboutme div {
  display: inline-block;
}
.yo img {
  position: absolute;
  left: 75px;
  top: 90px;
  border-radius: 50%;
}
.aboutme .me {
  position: absolute;
  left: 350px;
  top: 92px;
}
.me h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 43px;
  color: #A4361D;
  padding-left: 15px;
  margin-bottom: 13px;
}
.me p {
  font-family: 'Dosis', sans-serif;
  color: #D96349;
  font-size: 25px;
}                                             /* fin aboutme*/

                                            /*comienzo skills*/

.skill {
  height: 300px;
  width: 900px;
  position: relative;
  border-bottom: 1px solid #9B1D01;
}

.skill div {
  display: inline-block;
}

.skill .habilidades {
  position: absolute;
  left: 74px;
  top: 61px;
}

.skill .laptop {
  position: absolute;
  left: 628px;
  bottom: 47px;
}

.habilidades p {
  font-family: 'Dosis', sans-serif;
  color: #D96349;
  font-size: 25px;
}
.habilidades h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 43px;
  color: #A4361D;
  padding-left: 12px;
  margin-bottom: 15px;
}
.laptop img {
  border-radius: 50%;
}

/*=======================================FOOTER  Y FORMULARIO============================================*/

.formulario div {
  display: inline-block;
}

.footer {
  background-color: #F8E1A7;
  height: 400px;
  position: relative;
}
.formulario h3, .col2 h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 43px;
  color: #A4361D;
}
.col1 .areanombre {
  position: absolute;
  top: 100px;
  color: #D96349;
  font-size: 25px;
  left: 290px;
}
.col1 .areaemail {
  position: absolute;
  top: 170px;
  color: #D96349;
  font-size: 25px;
  left: 290px;
}
.col1 .comentarios {
  position: absolute;
  bottom: 50px;
  color: #D96349;
  font-size: 25px;
  left: 290px;
}
.col2 div {
  position: absolute;
  left: 900px;
  top: 170px;
  color: #D96349;
  font-size: 25px;
}
.formulario h3{
  position: absolute;
  top: 35px;
  left: 290px;
}
.col2 h2 {
  position: absolute;
  left: 900px;
  top: 35px;
}























